{% extends "layout.html" %}
{% block title %}
  {% ifequal pagetype 'public timeline' %}
    Public Timeline
  {% endifequal %}
  {% ifequal pagetype 'user timeline' %}
    {{ page_user.username }}'s Timeline
  {% endifequal %}
  {% ifequal pagetype 'my timeline' %}
    My Timeline
  {% endifequal %}
{% endblock %}

{% block body %}
<script type="text/javascript">

var xmlHttp;
var obj;

function createXMLHttpRequest()
 {
 try
    {
   // Firefox, Opera 8.0+, Safari
    xmlHttp=new XMLHttpRequest();
    }
 catch (e)
    {

  // Internet Explorer
   try
      {
      xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
      }
   catch (e)
      {

      try
         {
         xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
         }
      catch (e)
         {
         alert("您的浏览器不支持AJAX！");
         return false;
         }
      }
    }
}

function fav_or_unfav(element_id)
{
    createXMLHttpRequest();
    obj = element_id;
    xmlHttp.onreadystatechange=fav_handler;
    if (obj.alt == "unfav this tweet") {
        xmlHttp.open("GET","/unfav/"+obj.id,true);
    }
    else if (obj.alt == "fav this tweet") {
        xmlHttp.open("GET","/fav/"+obj.id,true);
    }
    xmlHttp.send(null);
}

function fav_handler()
      {
      if(xmlHttp.readyState==4)
        {
          if(xmlHttp.status == 200) {
              if(obj.alt == "fav this tweet") {
                  obj.src = "/static/faved.png";
                  obj.alt = "unfav this tweet";
              }
              else if(obj.alt == "unfav this tweet") {
                  obj.src = "/static/unfaved.png";
                  obj.alt = "fav this tweet";
              }
          }
//          alert(xmlHttp.responseText);
        }
        else {
            obj.src = "/static/loader.gif";
        }
      }

function rt(tid, bywho)
{
    t = document.getElementById("status_"+tid);
    tbox = document.getElementById("tweet-box");
    tbox.value = "RT @" + bywho + ": " + t.textContent;
}

function reply_to(tid, bywho)
{
    a = document.getElementById("reply_to");
    b = document.getElementById("reply_to_tweet");
    a.value = bywho;
    b.value = tid;
    c = document.getElementById("tweet-box");
    c.value = "@" + bywho + " ";
    c.focus();
}

function del_tweet(action_icon, tid)
{
    createXMLHttpRequest();
    xmlHttp.onreadystatechange = function()
    {
      if(xmlHttp.readyState==4)
        {
          if(xmlHttp.status == 200) {
               t = document.getElementById("tweet_"+tid);
               removeElement(t);
          }
          else {
              alert("Ooops...");
          }
        }
        else {
            action_icon.src = "/static/loader.gif";
        }
    }
    xmlHttp.open("GET","/del/"+tid,true);
    xmlHttp.send(null);
}

function removeElement(_element){
         var _parentElement = _element.parentNode;
         if(_parentElement){
                _parentElement.removeChild(_element);
         }
}
</script>

  {% if page_user %}
    <h2>{{ page_user.username }}'s Timeline</h2>
  {% else %}
    <h2>{{ pagetype|title  }}</h2>
  {% endif %}
  {% if user %}
    {% ifequal pagetype 'user timeline' %}
      <div class=followstatus>
      {% ifequal user.username page_user.username %}
        This is you!
      {% endifequal %}
      {% ifnotequal user.username page_user.username %}
        {% if followed %}
          You are currently following this user.
          <a class=unfollow href="/unfollow/{{ page_user.username }}">Unfollow user</a>.
        {% else %}
          You are not yet following this user.
          <a class=follow href="/follow/{{ page_user.username }}">Follow user</a>.
        {% endif %}
      {% endifnotequal %}
      </div>
    {% endifequal %}
    {% ifequal pagetype 'my timeline' %}
      <div class=twitbox>
        <h3>What's on your mind {{ user.username }}?</h3>
        <form action="/" method=post>
          <p><input id="reply_to" type="hidden" name="reply_to" value="">
            <input id="reply_to_tweet" type="hidden" name="reply_to_tweet" value="">
            <input id="tweet-box" type="text" name="tweet" size=60><!--
          --><input type="submit" value="Say it!">
        </form>
      </div>
    {% endifequal %}
  {% endif %}

<!-- tweets body -->
  <ul class=messages id="messages_body">
 {% for tweet in tweets %}
    <li id="tweet_{{ tweet.tid }}"><img class="avatar" src="/avatar/{{ tweet.bywho }}"><p>
      <strong><a href="/{{ tweet.bywho }}">{{ tweet.bywho }}</a></strong>
      <span id="status_{{ tweet.tid }}">{{ tweet.content|escape }}</span>
<!---->
<br><br>
<small align="left">
&mdash; <a href="/status/{{ tweet.bywho }}/{{ tweet.tid }}" style="color: #888;">
    {{ tweet.when|timesince }} ago</a> via web
{% if tweet.reply_to %}
<a href="/status/{{ tweet.reply_to }}/{{ tweet.reply_to_tweet }}" style="color: #888;">in reply to {{ tweet.reply_to }}</a>
{% endif %}
</small>
  {% if user %}
    {% ifequal tweet.bywho user.key.name %}
    <img class="action" src="static/del.png" alt="del" onClick="del_tweet(this, {{ tweet.tid }});"/>
    {% endifequal %}
    <img class="action" src="static/unfaved.png" alt="fav this tweet" id="{{ tweet.tid }}" onClick="fav_or_unfav(this)" />
    {%if not page_user %}
    <img class="action" src="static/rt.png" alt="rt" onClick="rt({{ tweet.tid }}, '{{ tweet.bywho }}');"/>
    {% ifnotequal tweet.bywho user.key.name %}
    <img class="action" src="static/reply.png" alt="reply" onClick="reply_to({{ tweet.tid }}, '{{ tweet.bywho }}');"/>
    {% endifnotequal %}
    {% endif %}
  {% endif %}
 {% endfor %}
  </ul>

<div style="float: right;">
<a href="javascript:history.go(-1);">Previous</a>&nbsp;
{% ifequal page_size 20 %}
<a href="/?next_page={{ next_page }}">Next</a>
{% endifequal %}
</div><br />
{% endblock %}
