{% extends "layout.html" %}
{% block title %}Setting{% endblock %}
{% block body %}
  <h2>Setting</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="/setting" method="post" enctype="multipart/form-data">
    <dl>
      <dt>Username:
      <dd><input type="text" name="username" size="20" value="{{ username }}" style="background: #eee;" disabled>
      <dt>Avatar:
      <dd><input type="file" name="avatarfile"><img src="/avatar/{{ username }}" />
          <br><small>Maximum size of 1M. JPG, GIF, PNG.</small></br>
      <dt>Full name:
      <dd><input type="text" name="fullname" size="20" value="{{ fullname }}">
      <dt>Bio:
      <dd><textarea name="bio" rows="2" vols="30">{{ bio }}</textarea>
    </dl>
    <div class="actions"><input type="submit" value="Save"></div>
  </form>
{% endblock %}
